html{
    min-height: 100%;
}

body {
    height:100%;
    background-repeat: no-repeat;
    background: #FAF9F6;
    font-family:monaco,Consolas,Lucida Console,monospace;
    font-weight: 400;
    color: #193b60;
    padding:2.5%;
}

/* Markdown */

details{
    color: #193b60;
    background:#fff;
}

details > summary {
    list-style: none;
}
  
details summary::-webkit-details-marker {
    display:none;
}

summary{
    cursor: zoom-in;
}

/*IDs*/

#header_css{
    width:15%;
    min-width:200px;
    float:left;
    text-align:left;
    padding:5%;
}

#content{
    width:50%;
    float:left;
    padding:5%;
}

/*Classes*/

.nav_styles{

}

.nav-link{
    display: block;
    padding: 0px 0px 10px 0px;
    color:#193b60;
    text-decoration: none;
    font-family:monaco,Consolas,Lucida Console,monospace;
}

.metadata_container{
    display: none; 
    justify-content: space-between;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.pfolio_1{
    padding:30px;
    background: rgb(21,61,124);
    background: linear-gradient(61deg, rgba(21,61,124,1) 0%, rgba(4,90,189,1) 40%, rgba(9,71,182,1) 100%);
}

.pfolio_2{
    padding:30px;
    background: rgb(69,191,193);
    background: linear-gradient(30deg, rgb(57, 156, 158) 0%, rgb(56, 194, 162) 60%, rgba(68,189,200,1) 100%);
}

.pfolio_3{
    padding:30px;
    background: rgb(10,38,97);
    background: linear-gradient(47deg, rgba(10,38,97,1) 0%, rgba(8,31,75,1) 46%, rgba(17,64,140,1) 100%); 
}

.pfolio_img{
    margin:0px;
    max-width:90%;
    padding:5px;
}

.dept{
    background:#fff;
    padding:10px;
    padding-left:40px;
    padding-right:40px;
    color:#193b60;
}

.dept p, .icann p{
    line-height:30px;
}

.dept a, .icann a{
    color:#193b60;
}

.icann{
    background:#fff;
    padding:10px;
    padding-left:40px;
    padding-right:40px;
    color:#193b60;
}

/* Header Styles */

h1 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size:26px;
    padding:0 0 0 0;
    word-spacing: 5px;
}
    
h2{
    font-family: 'Clash Display', sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size:26px;
    padding:20px 0px 0px 0px;
    letter-spacing: .05em;
}
    
h3{
    font-family: 'Clash Display', sans-serif;
    font-size:20px;
    padding:10px 0 0 0;
    letter-spacing: .03em;
}
    
h4{
    font-family: 'Clash Display', sans-serif;
    font-size:16px;
    padding:0 0 0 0;
    font-weight: 500;
    letter-spacing: .03em;
}

h5{
    font-family:monaco,Consolas,Lucida Console,monospace;
    font-size:14px;
    padding:0 0 0 0;
}

h6{    
    padding:0 0 0 0;
}

.pfolio_h2{
    color:#fff; 
    font-weight: 900;
    padding:0px;
    margin:0px;
    font-variant: normal;
}

.pfolio_h4{
    color:#fff;
    padding:15px 0px 0px 0px;
    margin:0px;
    font-style: italic;
}

/* Page Styles */    

p {
    font-size:18px;
    line-height:30px;
}
  
/*Image Styles*/

#gpad {
padding-top:15px;
padding-right:10px;
    }

/*List Styles*/ 

ul{
    padding-left:20px;
    }
    
li{
    padding-left:10px;
    padding-bottom:5px;
    line-height:24px;
    }

/*Line Styles*/

hr{
    background: rgb(192,72,97);
    background: linear-gradient(135deg, rgba(192,72,97,1) 0%, rgba(246,107,4,1) 50%, rgba(247,74,80,1) 100%); 
    height:3px;
    border:none;
}


/*Link Styles*/    

 /* unvisited link */

a:link {

}

a.nav-link:link {

}

/* visited link */

a:visited {

}

a.nav-link:visited {

  }

/* mouse over link */
a:hover {

}

a.nav-link:hover {
    color:#c04861;
    font-style: oblique;
  }

/* selected link */
a:active {

}

a.nav-link:active {
    color:rgba(192,72,97,1);
} 
